/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    margin: 0;
}

.main-container {
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: #ffffff;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

h1 {
    font-size: 22px;
}

h3 {
    font-size: 18px;
}

h4 {
    font-size: 16px;
}


/* HEADER */

.nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.nav .logo img {
    height: 50%;
    padding-top: 20px;
}

.nav ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    gap: 68px;
    height: 35px;
    margin: 0;
}

.nav ul li {
    padding-top: 20px;
}

.nav ul li:hover {
    border-top: 2px solid #0065FC;
    color: #0065FC;
}

.nav ul li:hover
/* BODY-HEAD */

.body-head .headline h1 {
    margin-bottom: 8px;
    font-size: 22px;
}

.body-head .headline p {
    margin-top: 0;
    font-size: 16px;
}

.body-head .search-bar {
    display: flex;
}

.body-head .search-bar form {
    height: 49px;
    display: flex;
}

.body-head .search-bar .icon {
    background-color: #f2f2f2;
    width: 50px;
    height: 49px;
    border: 1px;
    border-radius: 15px 0 0 15px;
    cursor: pointer;
}

.body-head .search-bar .icon i {
    display: flex;
    justify-content: center;
    padding-top: 15px;
    color: black;
}

.body-head .search-bar input {
    height: 49px;
    border: 2px solid #F2F2F2;
    padding-left: 20px;
}

.body-head .search-bar input::placeholder {
    font-weight: bold;
    opacity: 1;
    margin-left: 15px;
}

.body-head .search-bar input:focus::placeholder {
    opacity: 0;
}

.body-head .search-bar button {
    height: 49px;
    width: 132px;
    border: none;
    background-color: #0065FC;
    border-radius: 0 15px 15px 0;
    color: #ffffff;
    font-weight: 700;
    cursor: pointer;
}

.body-head .search-bar .btn-loupe i {
    display: none;
}

input:focus {
    outline: none;
}

.filtres {
    display: flex;
    padding: 30px 0 24px 0;
}

.filtres * {
    align-self: center;
}

.filtres button {
    height: 50px;
    border-radius: 25px;
    border: 2px solid #D9D9D9;
    margin: 0 0 0 15px;
    font-weight: 700;
    transition: 0.3s;
    font-size: 17px;
    padding: 0 20px 0 0;
    background-color: #ffffff;
    cursor: pointer;
}

.filtres button:hover {
    background-color: #DEEBFF;
}

.filtres i {
    padding-right: 15px;
    margin-left: 10px;
}

.info-ville .cercle-info {
    height: 24px;
    width: 24px;
    border-radius: 50%;
    border: 1px solid #D9D9D9;
}

.info-ville {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
}

.info-ville .cercle-info i {
    padding: 3px 0 0 10px;
}

.info-ville p {
    padding-left: 10px;
}

/* BODY */

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

.hebergements h1 {
    margin: 0 0 30px 0;
}

.hebergements h3 {
    margin: 0;
}

.grid-hebergements {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}

.hebergements .grid-hebergements .card {
    overflow: hidden;
    border: 5px solid #ffffff;
    margin-bottom: 0px;
    box-sizing: border-box;
    padding: 0;
}

.hebergements .grid-hebergements .card img {
    width: 100%;
    height: 110px;
    object-fit: cover;
}

.hebergements .grid-hebergements .card .card-content .card-txt>* {
    margin: 10px 0 5px 15px
}

.hebergements .grid-hebergements .card .card-content .card-rating {
    margin: 0 0 5px 15px
}

.hebergements .grid-hebergements h4 {
    margin: 30px 0 0 0;
    font-size: 18px;
}

/* ACTIVITES */

.activites h1 {
    padding-left: 30px;
    font-size: 22px;
}

.activites {
    margin-top: 100px;
    height: 559px;
    width: 100%;
    display: inline-block;
    padding: 30px;
}

.activites .row-activites {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: fit-content;
    width: 100%;
    height: 439px;
    padding: 0;
    margin-top: 50px;
}

.activites .row-activites .card {
    width: calc(25% - 30px);
    height: 439px;
    padding: 0;
    box-shadow: 0px 3px 15px 0px #0000001A;
}

.activites .row-activites .card .card-content {
    display: flex;
    align-items: center;
    width: 100%;
    height: 59px;
    border-radius: 0 0 20px 20px;
}

.activites .row-activites .card img {
    width: 100%;
    height: 380px;
    object-fit: cover;
    display: block;
    border-radius: 20px 20px 0 0;
}

.activites .row-activites .card .card-content .card-txt .card-title {
    padding-left: 19px;
    margin: 0;
    font-size: 16px;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}


/* FOOTER */

.foot {
    background-color: #F2F2F2;
    display: flex;
    margin-top: 100px;
}

.foot div {
    width: 33%;
    text-align: left;
    padding: 20px;
}


.foot ul {
    list-style: none;
    padding: 0;
}

.foot ul li {
    margin: 15px 0;
}

@media (min-width: 1440px){
    body{
        padding: 0 5%;
    }
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/


/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {

    .main-container {
        width: 100%;
    }

    .body-head .filtres {
        display: flex;
        flex-direction: column;
    }

    .body-head .filtres .filtres-titre {
        align-self: flex-start;
    }

    .body-head .filtres .btn-filtres {
        display: flex;
        align-self: flex-start;
        gap: 20px;
    }

    .body-head .btn-filtres button {
        margin: 0;
        gap: 10px;
    }

    .hebergements-and-populaires,
    .activites {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .hebergements h1 {
        margin-bottom: 50px;
    }

    .hebergements .grid-hebergements {
        display: grid;
        justify-content: space-around;
    }

    .hebergements .grid-hebergements .card {
        margin-top: 0;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
        overflow: hidden;
        padding: 0;
    }

    .populaires .populaires-cards{
        display: flex;
        width: 100%;
        gap: 20px;
    }

    .populaires .populaires-cards .card{
        width: 33%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .activites {
        margin-top: 100px;
        height: 390px;
        width: 100%;
        display: inline-block;
        padding: 30px;
        margin-bottom: 50px;
    }
    
    .activites .row-activites {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        height: 270px;
        width: 100%;
        padding: 0;
        margin-top: 50px;
    }

    .activites h1 {
        padding: 0;
        margin-bottom: 50px;
    }

    .activites .row-activites .card {
        width: 22%;
        height: 270px;
        box-shadow: 0px 3px 15px 0px #0000001A;
        background-color: #f2f2f200;
    }

    .activites .row-activites .card-content {
        display: flex;
        width: 100%;
        border-radius: 0 0 20px 20px;
    }

    .activites .row-activites img {
        width: 100%;
        border-radius: 20px 20px 0 0;
        object-fit: cover;
        display: block;
    }

    .activites .row-activites .card-content .card-txt h4 {
        align-self: center;
        margin: 0 0 0 15px;
    }

    .foot {
        margin-top: 0;
    }

    .foot div {
        padding: 0 0 20px 20px;
        margin: 0;
        width: calc(100% - 60px);
    }

}

/* Small devices (phones, less than 768px) */
@media (max-width: 768px) {

    body {
        margin: 0;
    }

    .main-container {
        padding: 0;
        max-width: 768px;
    }

    .main-container * {
        display: flex;
        flex-direction: column;
    }

    .main-container .nav .logo img {
        align-self: center;
        width: 10%;
    }

    .main-container .nav .nav-hebergements,
    .main-container .nav .nav-activites {
        padding: 0;
    }

    .nav ul {
        display: flex;
        flex-direction: row;
        padding: 0;
        justify-content: space-around;
        margin-top: 50px;
    }

    .nav ul li {
        border-bottom: 3px solid #f2f2f2;
        padding-bottom: 20px;
    }

    .nav .nav-hebergements {
        position: absolute;
        left: 0;
        height: 28px;
        width: 50%;
        text-align: center;
        padding-top: 20px;
    }

    .nav .nav-activites {
        position: absolute;
        right: 0;
        height: 28px;
        width: 50%;
        text-align: center;
        padding-top: 20px;
    }

    .nav ul li:hover {
        border-top: none;
        border-bottom: 3px solid #0065FC;
    }

    .nav ul li:hover li {
        color: #0065FC;
    }

    .nav .nav-hebergements:hover {
        border-top: none;
    }

    .nav .nav-activites:hover {
        border-top: none;
    }

    .body-head {
        margin: 0 30px;
    }

    .body-head .search-bar {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .body-head .search-bar form {
        flex-direction: row;
        width: 100%;
    }

    .body-head .search-bar .icon {
        justify-content: center;
        align-items: center;
    }

    .body-head .search-bar .icon i {
        padding: 0;
    }

    .body-head .search-bar form input {
        height: 49px;
        width: 90%;
        border: 2px solid #F2F2F2;
    }

    .body-head .search-bar button {
        position: absolute;
        left: 83%;
        width: 49px;
        height: 49px;
        padding-top: 22px;
        border-radius: 15px;
        box-shadow: 0px 4px 4px 0px #00000040;
    }

    .body-head .search-bar .btn-loupe i {
        color: white;
        display: block;
    }

    .body-head .search-bar button .btn-texte {
        display: none;
    }

    .body-head .filtres .filtres-titre {
        margin: 0 0 20px 0;
        display: flex;
        align-self: flex-start;
    }

    .main-container .body-head .btn-filtres {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 100%;
        gap: 20px;
    }

    .main-container .body-head .btn-filtres button {
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        padding-left: 19px;
        gap: 10px;
    }

    .main-container .body-head .btn-filtres * {
        padding: 0;
        margin: 0;
    }

    .body-head .info-ville {
        display: flex;
        flex-direction: row;
    }

    .hebergements-and-populaires section {
        border-radius: 0;
    }

    .populaires {
        order: 1;
        margin: 0;
    }

    .populaires .populaires-title {
        display: flex;
        flex-direction: row;
    }

    .populaires .populaires-cards .card img {
        border: 5px solid #ffffff;
    }

    .populaires .populaires-cards .card-content {
        padding: 10px 5px 5px 15px;
    }

    .populaires .populaires-cards .card-content .card-rating {
        align-items: flex-end;
        height: 100%;
        padding-bottom: 10px;
    }

    .populaires .populaires-cards .card-content .card-txt p,
    .populaires-cards .card-rating,
    .populaires-cards .card {
        flex-direction: row;
    }

    .hebergements-and-populaires .hebergements {
        order: 2;
        background-color: #ffffff;
        margin: 0;
    }

    .hebergements-and-populaires .hebergements .grid-hebergements {
        display: flex;
        flex-direction: column;
    }

    .hebergements-and-populaires .hebergements .grid-hebergements .card {
        height: 207px;
    }

    .hebergements-and-populaires .hebergements .grid-hebergements .card img {
        height: 124px;
        object-fit: cover;
    }

    .hebergements-and-populaires .hebergements .grid-hebergements .card .card-subtitle {
        flex-direction: row;
        margin: 0 0 0 15px;
    }

    .hebergements-and-populaires .hebergements .grid-hebergements .card .card-content {
        height: 50%;
        gap: 8px;
    }

    .hebergements-and-populaires .hebergements .grid-hebergements .card .card-content h4 {
        margin: 10px 0 0 15px;
    }

    .hebergements-and-populaires .hebergements .grid-hebergements .card .card-rating {
        flex-direction: row;
        align-items: flex-end;
        margin-bottom: 10px;
        height: 100%;
    }

    .hebergements-and-populaires .hebergements .grid-hebergements h3 {
        margin-top: 0;
    }

    .main-container .activites {
        margin-top: 50px;
        height: auto;
        /* Modifier la hauteur en auto pour s'adapter au contenu */
        width: 100%;
        display: flex;
        flex-direction: column;
        /* Affichage en colonne */
        align-items: center;
        /* Centrer le contenu */
        margin-bottom: 700px;
    }

    .main-container .activites h1 {
        align-self: flex-start;
        margin: 0;
        padding-left: 15px;
    }

    .main-container .activites .row-activites {
        display: block;
        /* Utilisation de display block pour chaque élément */
        /* Espacement entre les éléments */
        padding: 30px 15px;
        /* Ajout de padding pour l'espacement sur les côtés */
        width: 100%;
        box-sizing: border-box;
        /* Inclure les paddings dans la largeur totale */
    }

    .main-container .activites .row-activites .card {
        width: 100%;
        background-color: #f2f2f200;
        margin-bottom: 20px;
        box-shadow: 0px 3px 15px 0px #0000001A;
    }

    .main-container .activites .row-activites .card .card-content {
        width: 100%;
        height: 59px;
        border-radius: 0 0 20px 20px;
    }

    .main-container .activites .row-activites img {
        width: 100%;
        height: 141px;
        border-radius: 20px 20px 0 0;
        object-fit: cover;
        display: block;
    }

    .main-container .activites .row-activites .card-content {
        display: flex;
        flex-direction: row;
        justify-self: flex-start;
        margin: 0;
    }

    .main-container .activites .row-activites .card-content .card-txt h4 {
        font-size: 16px;
    }

    .foot {
        padding-left: 30px;
    }

    .foot h3 {
        margin: 18px 0 -10px 0;
    }

    .foot ul li {
        margin: 10px 0 0 0;
    }
}